.content-section-head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.content-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

input[type='number'] {
  width: 500px;
  height: 30px;
  margin-bottom: 5px;
}

.add-section-button {
  text-align: center;
}

.result {
  text-align: center;
  font-weight: 800;
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
}

.result output {
  padding-left: 50px;
  text-decoration: underline;
}
